{% extends 'base.html' %}
{% load static %}
{% block title %}{{ question.title }}{% endblock %}

{% block content %}
<h2>{{ question.title }}</h2>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="{% static 'img/img1.jpg' %}" alt="Avatar" class="card-img">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <p class="card-text">{{ question.text }}</p>
                <p class="card-text">
                    <small class="text-muted">Tags: 
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.name %}" class="badge badge-info">{{ tag.name }}</a>
                        {% empty %}
                            <span>No tags</span>
                        {% endfor %}
                    </small>
                    <form action="{% url 'like_question' question.id %}" method="post" class="d-flex align-items-center mr-3">
                        {% csrf_token %}
                        <div class="like-box d-flex align-items-center px-2 py-1 border rounded">
                            <button type="submit" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                                👍
                            </button>
                            <span class="ml-2">{{ question.likes_count }}</span>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>

<h4>Answers:</h4>
{% for answer in answers %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img src="{% static 'img/img1.jpg' %}" alt="Avatar" class="card-img">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <p class="card-text">{{ answer.text }}</p>

                    <!-- Форма для лайка ответа -->
                    <form action="{% url 'like_answer' answer.id %}" method="post" class="d-flex align-items-center mr-3">
                        {% csrf_token %}
                        <div class="like-box d-flex align-items-center px-2 py-1 border rounded">
                            <button type="submit" class="btn btn-outline-primary btn-sm d-flex align-items-center">
                                👍
                            </button>
                            <span class="ml-2">{{ answer.likes.count }}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}



<h4>Enter your answer here..</h4>
<form>
    <div class="form-group">
        <textarea class="form-control" id="answer" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Answer</button>
</form>
{% endblock %}