{% extends 'base.html' %}
{% load static %}
{% block title %}{{ question.title }}{% endblock %}

{% block content %}
<h2>{{ question.title }}</h2>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img src="{% static 'img/img1.jpg' %}" alt="Avatar" class="card-img">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <p class="card-text">{{ question.text }}</p>
                <p class="card-text">
                    <small class="text-muted">Tags: 
                        {% for tag in question.tags %}
                            <a href="{% url 'tag' tag %}" class="badge badge-pill badge-secondary">{{ tag }}</a>
                        {% endfor %}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

<h4>Answers:</h4>
{% for answer in question.answers %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img src="{% static 'img/img1.jpg' %}" alt="Avatar" class="card-img">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <p class="card-text">{{ answer.text }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <span class="badge badge-success">{{ answer.votes }} Correct!</span>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<h4>Enter your answer here..</h4>
<form>
    <div class="form-group">
        <textarea class="form-control" id="answer" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Answer</button>
</form>
{% endblock %}